---
title: Home
---
<!--<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    
  </head>-->
  <body class="{{page.title}}">
    <header>
      <div class="nav">
        <ul>
          {% for item in site.data.navigation %}
            <li class="{{item.name}}"><a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <h1>{{ "I just want to be an interpreter between nature and man."  }}</h1>
     </header>

  </body>
</html>
