.current {
  color: green;
}
.header {
  padding: 80px; 
  text-align: center; 
  background: #FDF8F2; 
  color: #FDF8F2; 
}

/*
Ivory: #FDF8F2
Cream: #EEE2CB
Sand: #ECDFCE
Mocha: #977E6F
Taupe: #9E8A81
Beige: #D5BEAC
Nude: #EBD8CA
Tan: #B0907B
Camel: #A87C5F
Army: #736D49
Khaki: #6F735C
Black: #231F20
Charcoal: #4A4F52
Gray: #A9AEB2
Olive: #7D7669
*/
body {
  margin: 0;
  background: #EBD8CA;
  color: #4A4F52;
  font-weight: 400;
  line-height:1.2;
}
 
.nav ul {
  list-style: none;
  background-color: #9E8A81;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #A9AEB2;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}
.note{
  margin: 0;
  padding: 0;
  background: #FDF8F2;
}
