.current {
  color: green;
}
.header {
  padding: 10px; 
  text-align: center; 
  background: #303841; 
  color: #EEEEEE; 
}

/*
black: 303841
red: FE615A
blue: 00ADB5
orange: FF5722
white: EEEEEE

*/
body {
  margin: 0;
  background: #EEEEEE;
  color: #303841;
  font-weight: 400;
  line-height:1.2;
  
}
 
.nav ul {
  list-style: none;
  background-color: #303841;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #00ADB5;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
.page-container {
  position: relative;
  min-height: 100vh;
  background-color: #FFF4E3;
  background: radial-gradient(circle, white 10%, transparent 10%),
  radial-gradient(circle, white 1%, #F2F2F2 1%) 80px 80px;
  background-size:30px 30px;
}

.content-wrap {
  background-color: #EEEEEE;
  padding-bottom: 2.5rem;    /* Footer height */
  color: #303841;
  margin: 20px;
  padding: 10px;
}



.footer {
  color: #EEEEEE;
  background-color: #303841;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  overflow: hidden;
  height: 4rem;            /* Footer height */
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}
.note{
  margin: 0;
  padding: 0;
  background: #FDF8F2;
}
