.current {
  color: green;
}
.topnav {
background-color: #736D49;
overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.body {
  background-color: #FDF8F2; 
  
}
.header {
  padding: 80px; 
  text-align: center; 
  background: #FDF8F2; 
  color: #FDF8F2; 
}
.topnav a:hover {
  background-color: #ddd; 
  color: black; 
}
.footer {
  padding: 20px; 
  text-align: center; 
  background: #736D49; 
}
/*
Ivory: #FDF8F2
Cream: #EEE2CB
Sand: #ECDFCE
Mocha: #977E6F
Taupe: #9E8A81
Beige: #D5BEAC
Nude: #EBD8CA
Tan: #B0907B
Camel: #A87C5F
Army: #736D49
Khaki: #6F735C
Black: #231F20
Charcoal: #4A4F52
Gray: #A9AEB2
Olive: #7D7669
*/

