---
layout: default
title: About Rachel
---

<div class="about-container">
  
  <div class="left-col-container">
    <div class="card">
      <img src="{{ site.url }}static/img/{{site.profile_pic}}" width="50%" alt="Profile Photo">
      <h2>{{site.author}}</h2>
      <div class="basic-about">
        <p>Occupation: Student</p>
        <p>Location: Illinois</p>
        <p>Email: {{site.email}}</p>
      </div>
      <h1>Skills<br/></h1>

      <div class="skills"> 
        <p>Mathematics</p>
        <div class="skills math">95%</div>
        <p>Python</p>
        <div class="skills python">85%</div>

        <p>Data Structures</p>
        <div class="skills data-struct">75%</div>

        <p>HTML</p>
        <div class="skills html">50%</div>

      </div> 
      <h1>Languages<br/></h1>
      <div class="Languages">
        <p>English</p>
        <div class="languages english">100%</div>
        <p>Spanish</p>
        <div class="languages spanish">60%</div>
      </div>
    </div>
  </div>

  <div class="right-col-container">
    <div id="my-experience">
        <div class="card">
           <h1>Experience<br/></h1>
           <p>listing experience </p>
        </div>
    </div>
    <div id="my-education">
        <div class="card">
           <h1>Education<br/></h1>
           <p>listing education </p>
        </div>
    </div>
  </div>
</div>

