---
layout: default
title: About Rachel
---

<div class="about-container">
  
  <div class="left-col-container">
    <div class="card">
      <img src="{{ site.url }}static/img/{{site.profile_pic}}" width="50%" alt="Profile Photo">
      <h2>{{site.author}}</h2>
      <div class="basic-about">
        <p>Occupation: Student</p>
        <p>Location: Illinois</p>
        <p>Email: {{site.email}}</p>
      </div>
      <h1>Skills<br/></h1>

      <div class="Proficient"> 
          <p>

      </div> 
    
    </div>
  </div>

  <div class="right-col-container">
    <div id="my-experience">
        <div class="card">
           <h1>Experience<br/></h1>
           <ul>
           <h3><strong>Tutor</strong> Parkland College - Center for Academic Success</h3>
             <p>Subjects Include: Physics, Chemistry, Calculus, Statistics, Computer Science, and Biology</p>
             <h3> <strong>Experiment Fascilitator</strong> Museum of Sciency and Industry </h3>
             <p>Engaged guests from around the world in curiosity and science. Experiments included: Chinese Water Singing Bowl, Electronmagnetism, Spins and Conservation of Energy </p>
          </ul>
        </div>
    </div>
    <div id="my-education">
        <div class="card">
           <h1>Academics<br/></h1>
           <h3>College GPA: 4.0<h3><br/>
           <h3>ACT Scores</h3>
             <ul>
               <li><p>Reading: 35 </p></li>
               <li><p>English: 35 </p></li>  
               <li><p>Math: 35 </p></li>  
               <li><p>Science: 36 </p></li>  
             </ul>
           <h3>AP Scores</h3>
             <ul>
               <p>Calculus BC: 5</p>
               <p>Physics C Mechanics: 5</p>
               <p>Physics C Electromagnetism: 5</p>
               <p>Physics C Mechanics: 5</p>           
               <p>English Literature: 5</p>
               <p>Biology: 4</p><li>
               <p>Microeconomics: 4 (self-taught)</p>
             </ul>
           <h3>Courses</hr> 
             <ul>
                <p>Multivariate Calculus: A</p>
                <p>Differential Equations: A</p>                
                <p>Statistics: A</p>
                <p>Mathematical Modeling with Matlab: A</p>
                <p>Object Oriented Programming and Java: A</p>
                <p>Data Structures and Algorithms in Python: A</p>
                <p>Circuit Analysis: A</p>
                <p>Digital Systems: A</p>
                <p>Introduction to Biomedical Engineering: A</p>                
                <p>Biomedical Instrumentation: A</p>             
                <p>Interprofessional by Design - Innovations for Global Health: A</p>
                <p>Electrocardiology: A</p>
                <p>Chemistry 1 & 2: A</p>
                <p>Human Biology: A</p>
                <p>Social Inequality: A</p>
                <p>Mass Media: A</p>
             </ul>
        </div>
    </div>
  </div>
</div>

