---
layout: default
title: About Rachel
---

<div class="about-container">
  
  <div class="left-col-container">
    <div class="card">
      <img src="myFenceSquare.PNG" alt="Profile Photo">
      <h2>{{site.author}}</h2>
      <p>Occupation: Student</p>
      <p>Location: Illinois</p>
      <p>Email: {{site.email}}</p>
      <div class="skills">
        <h1>Skills<br/></h1>
        <p>Mathematics 95%</p>
        <p>Python 85%</p>
        <p>Data Structures 75%</p>
        <p>HTML 50%</p>
      </div> 
      <div class="Languages">
        <h1>Languages<br/></h1>
        <p>English 100%</p>
        <p>Spanish 60%</p>
      </div>
    </div>
  </div>

  <div class="right-col-container">
    <div id="my-experience">
        <div class="card">
           <h1>Experience<br/></h1>
           <p>listing experience </p>
        </div>
    </div>
    <div id="my-education">
        <div class="card">
           <h1>Education<br/></h1>
           <p>listing education </p>
        </div>
    </div>
  </div>
</div>

